<header>
	<nav class="navbar navbar-fluid navbar-expand-md fixed-top navbar-dark bg-danger">
		<a class="navbar-brand" href="/">Backroom</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item <% if request.path_info == '/' %>active<% end %>">
					<a class="nav-link" href="/">Home <% if request.path_info == '/' %><span class="sr-only">(current)</span><% end %></a>
				</li>
				<li class="nav-item <% if request.path_info == '/dpci' %>active<% end %>">
					<a class="nav-link" href="/dpci">DPCI <% if request.path_info == '/dpci' %><span class="sr-only">(current)</span><% end %></a>
				</li>
				<li class="nav-item dropdown <% if request.path_info =~ /\/docs\//i %>active<% end %>">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Docs
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item <% if request.path_info == '/docs/price_change' %>active<% end %>" href="/docs/price_change">Price Change</a>
					</div>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="https://github.com/pschfr/backroom" target="_blank">Source</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
