<div class="d-flex vh-100">
	<div class="mx-auto text-center align-self-center">
		<% if num %>
			<% if request.path_info == '/dpci' %>
				<% BarcodeHelper.new_barcode(num, 'dpcis/') %>
				<%= BarcodeHelper.barcode_svg("dpcis/#{num}", 'vh-90') %>
			<% else %>
				<%= BarcodeHelper.barcode_svg(num, 'vh-90') %>
			<% end %>
			<p>
				<%= num %>
			</p>
		<% else %>
			<h1>DPCI to Barcode</h1>
			<p>Also works with cart labels.</p>
			<p>&nbsp;</p>
			<form id="dpci">
				<label for="dpci">
					<span class="sr-only">DPCI</span>
					<input type="text" name="dpci" class="form-control text-center" placeholder="XXX-XX-XXXX or SHPXX" required />
				</label>
				<br/>
				<input type="submit" class="btn btn-primary" value="Generate Barcode" />
			</form>
		<% end %>
	</div>
</div>
