<table data-toggle="table" data-pagination="true" data-search="true" data-search-align="left" data-show-columns="true" data-show-toggle="true" data-classes="table-bordered table-striped text-center">
	<thead>
		<tr>
			<th data-sortable="true">Location</th>
			<th>Barcode</th>
		</tr>
	</thead>
	<tbody>
		<% for loc in LocationHelper.all_locations %>
			<tr>
				<td>
					<a href="/location/<%= loc %>">
						<samp><%= loc %></samp>
					</a>
				</td>
				<td><%= BarcodeHelper.barcode_svg(loc) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
