<div class="d-flex vh-100">
	<div class="mx-auto text-center align-self-center">
		<h1>
			Price Change Pulled <%= DateTime.now.strftime("%b. %-d, %Y") %>.
		</h1>
		<h2>
			Do Not Touch Unless Pricing Team Member.
		</h2>
	</div>
</div>
